{{#each posts as |post|}}

  <ul class="post-list col-md-12" data-id="{{post.id}}">
    <div class="post-name">
      <li>
        <span class="span-title">{{post.title}}</span>
        <button class="remove-post-button btn btn-transparent" data-id="{{post.id}}">Delete</button>
        <button class="edit-post-button btn btn-transparent" data-id="{{post.id}}">Edit</button>

        <form id="vid-post">
          <fieldset>
            <div class="form-group">
              <input class=" form-control zoom-control" placeholder="enter YouTube URL here" type="text" name="post[name]">
            </div>
            <div class="text-center">
              <button class="btn btn-transparent btn-lg" type="submit"> Upload Video </button>
            </div>
          </fieldset>
        </form>

      </li>
    </div>
    <!--
<li>{{post.title}}</li> -->
    <div class="post-content">
      <li>{{post.content}}</li>
    </div>
  </ul>

{{/each}}
